node_modules
.pnpm-store/
.DS_Store
dist
dist-ssr
dist-server
*.local
count.txt
.env
.nitro
.tanstack
/.vite

# project specific ignores
/dev
/README.draft.md
/Justfile
./dev/data
/.playwright-mcp
/.playwright-cli
/ops

# Ignore hooks except for sample hooks
/hooks/*
/.pnpm-ignore
.agents/skills/playwright-cli/.playwright-cli/
