node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack

# project specific ignores
/dev
/README.draft.md
/Justfile
./dev/data
/.playwright-mcp

# Ignore hooks except for sample hooks
/hooks/*
